common --experimental_platform_in_output_dir
common --enable_platform_specific_config
common:linux --host_platform=@rules_rs//rs/experimental/platforms:x86_64-unknown-linux-gnu
common:windows --host_platform=@rules_rs//rs/experimental/platforms:x86_64-pc-windows-msvc

common --incompatible_enable_cc_toolchain_resolution
common --incompatible_strict_action_env

common --@llvm//config:experimental_stub_libgcc_s
common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

common -c opt
common --@rules_rust//:extra_rustc_flags=-Clto=fat
common --@rules_rust//:extra_rustc_flags=-Cstrip=symbols
common --@rules_rust//:extra_rustc_flags=-Ccodegen-units=1
common --@rules_rust//:extra_rustc_flags=-Cpanic=abort
