name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: .github/workflows/build_release.sh

  build_windows_amd64:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build
      run: .github/workflows/build_release_windows_amd64.bat

  build_windows_arm64:
    runs-on: windows-11-arm
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build
      run: .github/workflows/build_release_windows_arm64.bat
